<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="LingDocs Signin">
    <title>Grammar Feedback · LingDocs</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
  </head>
  <body>
    <div class="container">
      <h1 class="my-4">LingDocs Grammar Feedback</h1>
      <p><%= docs.length %> pieces of feedback</p>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Date</th>
            <th scope="col">User</th>
            <th scope="col">Chapter</th>
            <th scope="col">Feedback</th>
            <th scope="col">Rating</th>
          </tr>
        </thead>
        <tbody>
          <% for(var i=0; i < docs.length; i++) { %>
            <tr>
              <td>
                <%= new Date(docs[i].feedback.ts).toDateString() %>
              </td>
              <td>
                <%= docs[i].user %>
              </td>
              <td>
                <%= docs[i].feedback.chapter %>
              </td>
              <td>
                <%= docs[i].feedback.feedback %>
              </td>
              <td>
                <%= docs[i].feedback.rating %>
              </td>
            </tr>
          <% } %>
        </tbody>
      </table>
    </div>
  </body>
</html>